*{
    margin: 0px;
    padding: 5px;
    font-family: "raleway", sans-serif;
}
.imad,.imag,.iam,.iams{
    object-fit: cover;  
}

 /****************************** css lié au header *********************************************/
header{
    padding: 0px;
    margin: 0px;
    height: 100px;
    width:100%;
    background-color: #fff;
}

#logo-projet{
    float: left;
    padding-left: 0px;
}

#menu-navig{
    float: right;
    padding-right: 0px;
    display: table;
    text-align: center;
    
}


nav li{
    list-style-type: none;
    float: right;
    padding-top: 20px;
}

nav a{
    color:#000;
    text-decoration: none;
    font-size: 1em;
}

nav li:hover{
    border-top: 3px solid #0065fc;
    padding-top: 20px;
}

nav a:hover{
    color:#0065fc;
}

/***************************** css lié à la section du préambule *********************************/

.besoins{
    height: 20%;
    width: 99%;
    background-color: #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}
/* barre-de-recherche */
.bar-recher{
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 400px; 
}

 .adres, .recher{
     border: #f2f2f2 solid 0.5px; 
    margin: 0px;
    padding: 0px;
    width: 300px; 
    height: 45px; 
    justify-content: center;

}

.adres{
    border-left: none;
    border-right: none;
    width: 500px;
    text-align: left;
}

.point{
    width: 150px; 
    height: 37px; 
    border-right:transparent solid 1px;
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.ig-pt{
    padding-top: 10%;
    padding-left: 50%;
}

.recher{
    color: #fff;
    text-align: center;
    background-color: #0065fc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.r1{
    padding-top: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
}

/* zone-des-filtres */

.filtre{
     justify-content: left; 
    height: 80px;
    width: 99%;
     padding-top: 20px;
    }

    .fil-u,.fil-i{
     display: inline-block; 
    border: #f2f2f2 solid 3px;
    height: 30px;
    padding-left: 0px;
    padding-top: 0px;
    border-radius: 50px;
    margin-left: 10px;
    border-left: none;  
}

.fil-u{
    display: inline-block; 
    border: #f2f2f2 solid 2px;
    height: 30px;
    width: 100px;
    margin-left: 30px;
    padding-top: 10px;
}

.fil-p{
    float: left;
    background-color: #deebff;
    height: 27px;
    width: 30px;
    border-radius: 30px;
    padding-left: 0px;
    margin: 0px;
}

.fil-i,.fil-p{
     display: inline-flex; 
}

.f1{
    float: right;
    font-size: 1em;
    font-weight: bolder;
}

.f2{
     display: inline; 
    text-align: left;
    padding-bottom:20px;
    font-weight: bolder;
}

.ig{
    color: #0065fc;
    padding: 5px 5px;
}

.fil-i:hover{
    box-shadow: #deebff 15px 10px 8px;
    background-color: #0065fc;
    color: #fff;
}

/* introduction-de-la-section-des-hébergements */

.pub{
    height: 50px;
    width: 500px;
    padding: 0px;
    margin: 0px;

}

.ig-i{
    border: #deebff solid 2px;
    height: 15px;
    width: 10px;
    border-radius: 15px;
    padding-left: 10px;
    background-color: #fff;
}

.ig-I{
    color: #0065fc;
    padding: 0px;
    font-size: 1em;
}

.intro-pub, .ig-i{
    display: inline-block;
}

/***************************************** pied-de-page ******************************************/

footer{
    height: 200px;
    background-color: #deebffa4;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    width: 100%;
    
    

}

.foot{
    height: 200px;
    width: 1000px;
    padding: 0px;
    display: inline-flex;
    margin: 0px;
    padding-top: 20px;
}

.col1, .col2, .col3{
    display: inline-block;
    font-size: 1em;
    padding:30px ;
}

/********************************** section-des-hébergements  ****************************/

.sec-phéberg{
    height: 800px;
    width: 99%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

.div-phéberg{
    height:99%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    gap:10px;
}

/* hébergement de la gauche */

.héberg-g{
    width: 70%;
    height: 100%;
    margin: 0px;
    padding: 10px;
    float: left;
    padding-left: 5px;
}

a{
    text-decoration: none;
    color: #000;

}


.dhg{
    height: 100%;
    width: 99%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.imag{
    
    height: 170px;
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0px;
    padding: 0px;
    padding-top: 2px; 
    padding-left: 2px; 
    display: inline;
    

}

.d-imag{
    padding: 0px;
    margin: 0px;
    height: 175px; 
    width: 300px; 
    padding-left: 1px;
}


.d-ahg{
    flex-direction: column;
    height: 280px;
    width: 305px;
    border: #fff solid 3px;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;  
    background-color: #fff;
    display: flex;
}

.d-info{
height:100px;
width: 250px;
display: inline;
padding-left: 0px;
margin: 0px;
}

.d-inf {
   display: inline;  
   height: 5px;
   width: 100px;
   padding-bottom: 10px;
}

.et{
    color: #0065fc;
    padding: 0px;
    margin: 0px;
}

.et-q,.et-c{
    color: #f2f2f2;
}

h3, .p-info{
    width: 100%;
    height: 10px;
    padding-left: 10px;
}

.p-info{
    font-size:20px;
}

.h3{
    font-size: 35px;
}

.luhg{
    padding: 0px;
    margin: 0px;
    padding-top: 30px;
    display: flex;  
    width: 100%;
    height: 300px;
    flex-direction: row;
    gap:10px;
    flex-wrap: wrap;

}

.h-mar{
    height: 5%;
    width: 100%;
    float: left;
    padding-top: 20px;

}

/* hébergements de la droite */

.pp{
    float: left;
    display: inline;
}

.eu{
    float: right;
    display: inline;
    padding-right: 50px;
}

.héberg-d{
    float: right;
    width: 26%;
    height: 760px;
    padding-top: 10px;
}

.dhd{
    height: 770px;
    width: 100%;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding-top: 30px;
    
}

.d-ahd{
    flex-direction: column;
    height: 170px;
    width: 95%;
    border: #fff solid 3px;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;  
    background-color: #fff;
    margin-top: 15px;
    gap: 10px;
}

.d-ahd, .d-ahg, .di-am,.ds-ams{
    box-shadow: #e0dfdf 10px 10px 8px;
    
}

.imad{
    height: 165px;
    width: 150px;
    border-bottom-left-radius: 20px; 
    border-top-left-radius: 20px; 
    margin: 0px;
    padding: 0px;
    display: inline;
}

.d-imad{
    float: left;
    padding: 2px;
}

.d-infod{
    float: right;
    width: 195px;
    height: 130px;
    display: inline;
    padding: 0px;
    margin: 0px;
}

.p-infd{
    padding-top: 40px;
    height: 20px;
}

.pp,.h-mar{
    font-size: 1.2em;
}

/******************************************* section-des-activites ******************************/

.h-am{
    display: inline;
    height: 30px;
    text-align: left;
}

.sp-am{
    height:700px;
    width:100%;
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.dp-am{
    height: 99%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    /* flex-direction: row; */
}

.ar-am{
    
    height: 400px; 
    width: 350px; 
    padding: 0px;
    margin: 0px; 
    padding-top: 30px;
    display: inline-block;
}

.di-am{
    height: 473px;
    width: 305px;
    padding: 0px;
    margin: 0px;
    padding-top: 3px;
    border-radius: 30px; 
    background-color: transparent;
    gap:20px;
}

.iam{ 
    height: 415px;
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.Détail{
     height: 30px; 
    width:305px; 
    padding: 0px;
    margin: 0px;
    text-align: left;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;
}

.d-imam{
    height: 425px;
    width: 305px;
    margin: 0px;
    padding: 0px;

    
}



/* activité dupliquée */

.d-imams{
    height: 200px;
    width: 300px;
    margin: 0px;
    padding: 0px;
}

.iams{
    height: 190px;
    width: 290px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.Détails{
    height: 30px;
    width: 285px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px; 
}

.ds-ams{
    height:225px;
    width: 290px;
    border-radius: 30px;
    flex-direction: column;
    gap: 20px;
}

.di-ams{
    padding: 0px;
    margin: 0px;
    gap:20px;

}

/**************************** partie-responsive-du-projet ***************************/

/*********** Téléphones et p.Laptop  *******/

@media screen and (max-width:1024px){

    

    header{
        width: 100%;
        height: 5%; 
        margin: 0px;
        padding: 0px;
        display: flex;  
        flex-direction: column; 
    }

    /* corps de la page */

    .bar-recher{
        width: 100%;
        height: 30px;
        display: flex;
    }

    .filtre{
        width: 100%;
        height: 200px;
        display: inline-flex;
        flex-wrap: wrap;
    }

    .f2{
        height: 10px;
        width: 100%;
        text-align: center;
    }

   .sec-phéberg, .héberg-d,.héberg-g{
    width: 100%;
    height: 100%;
    flex-direction: column;
   
   }

   .héberg-d, .héberg-g{
    width: 90%;
   }

    .dhg,.dhd{
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

     .luhg{
        width: 100%;
        height: 100%;
         display: inline-block; 
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    .ahd,.ahg{
        width: 100%;
        height:20%;
        display: block;
        flex-direction: column;
    }

    .d-ahg{
        width: 100%;
        height:15%;
    }


    .imag, .d-imag{
        width: 100%;
    }

    .sp-am,.dp-am{
        width: 100%;
        height: 80%;
        flex-direction: column;
        flex-wrap: wrap;
        display:inline-block;
    }
       /* pides de page */
    footer{
        width:100%;
        height:500px;
    }

    .foot{
        width: 100%;
        height: 100%;
        display: block;
        flex-direction: column;

    }

    .col1,.col2, .col3{
        display: inline-block;
        width: 90%;
        height: 100px;
        flex-direction: column;
    }

   
}

